<ion-header>
  <app-header headerTitle="Profil Anlegen" [enableLogout]="false" [enableBackNavigation]="true"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="signupFormGroup" (submit)="onSubmit()">


    <ion-item>
      <ion-label position="floating">Vorname*</ion-label>
      <ion-input autocomplete="off" inputmode="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nachname*</ion-label>
      <ion-input autocomplete="off" type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password*</ion-label>
      <ion-input autocomplete="off" type="text" formControlName="password1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password wiederholen*</ion-label>
      <ion-input autocomplete="off" type="text" formControlName="password2"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="floating">Firma*</ion-label>
      <ion-input autocomplete="off" type="text" formControlName="company"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input autocomplete="off" type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefon</ion-label>
      <ion-input autocomplete="off" type="text" formControlName="phone"></ion-input>
    </ion-item>
    
    <div class="mandatory-info">* Pflichteingabe</div>

    <br>
    <ion-button color="primary" expand="full" type="submit" [disabled]="!signupFormGroup.valid">Profil Anlegen</ion-button>
  </form>
</ion-content>
